* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #43115c;
    color: rgb(235, 43, 43);
}
.box{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}
.key{
  background-color: #ab33e7;
  border: black solid 1.6px;
  color: white;
  height: 40px;
  width: 40px;
  margin: 10px;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.active{
  background-color: greenyellow;
}